extends layout

block content
	div(id="nav-container")
		a(class="nav-button", id="hackers", href="ticket/create") Hackers click here!
		a(class="nav-button", id="mentors", href="ticket/view-all") Mentors click here!
