doctype html
html
  head
    title= title
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Jockey+One", rel="stylesheet")
  body
    div(class="container")
      block content
