extends ../layout 

block content
	if(locals.errors)
		div(class="warning-message", id="warning")
			each error in errors
				p= error.msg
	form(id="ticket-form", action="submit", method="post")
		div(class="ticket-section", id="heading") 
			h1 Title: 
			table
				tr
					input(type="text", class="ticket-field", name="problemTitle", placeholder="Problem title")
		div(class="ticket-section", id="tags")
			h1 Tags:
			table
				tr
					input(type="text", class="ticket-field",  name="problemTags", placeholder="Tags")
		div(class="ticket-section", id="details") 
			h1 Details: 
			table
				tr
					input(type="text", class="ticket-field",  name="hackerName", placeholder="Your name")
				tr
					input(type="text", class="ticket-field",  name="projectName", placeholder="Name of your project")
				tr
					textarea(class="ticket-field", name="problemDescription", placeholder="Description of your problem")
				tr
					textarea(class="ticket-field", name="hackerLocation", placeholder="Description of your location so a mentor can find you")
				tr
					input(type="number", class="ticket-field", name="hackerPhoneNumber", placeholder="Your phone number in case your mentor can't find you")
		input(id="submit-ticket", class="nav-button", type="submit", value="Create new ticket!")