extends ../layout 

block content
<<<<<<< Updated upstream
	form(id="ticket-form" action="submit" method="post" enctype="multipart/form-data")
		div(class="ticket-section" id="heading") 
			h1 Important stuff: 
			table
				tr
					input(type="text" class="ticket-field" id="problem-title" placeholder="Problem title")
=======
	form(id="hacker-form" action="submit" method="post" enctype="multipart/form-data")
		div(class="form-section" id="heading") 
			h1 Title: 
			table
				tr
					input(type="text" class="form-field" id="problem-title" placeholder="Problem title")
		div(class="form-section" id="tags")
			h1 Tags:
			table
>>>>>>> Stashed changes
				tr
					input(type="text" class="ticket-field" id="problem-tags" placeholder="Tags")
		div(class="ticket-section" id="details") 
			h1 Details: 
			table
				tr
					input(type="text" class="ticket-field" id="hacker-name" placeholder="Your name")
				tr
					input(type="text" class="ticket-field" id="project-name" placeholder="Name of your project")
				tr
					textarea(class="ticket-field" id="issue-description" placeholder="Description of your problem")
				tr
					textarea(class="ticket-field" id="location-description" placeholder="Description of your location so a mentor can find you")
				tr
					input(type="number" class="ticket-field" id="phone-number" placeholder="Your phone number in case your mentor can't find you")
		input(id="submit-ticket" class="nav-button" type="submit" value="Create new ticket!")