extends ../layout

block content
	div(id="create-title") New Ticket: 
	form(id="hacker-form" action="hackers" method="post" enctype="multipart/form-data")
		div(class="form-section" id="heading")
			textarea(class="form-field" id="problem-title")
			textarea(class="form-field" id="problem-tags")
		div(class="form-section" id="details")
			textarea(class="form-field" id="hacker-name")
			textarea(class="form-field" id="project-name")
			textarea(class="form-field" id="issue-description")
			textarea(class="form-field" id="phone-number")
			textarea(class="form-field" id="location-description")