extends layout

block content
	form(id="hacker-form" action="hackers" method="post" enctype="multipart/form-data")
		div(class="form-section" id="heading")
			text(class="form-field" id="problem-title")
			text(class="form-field" id="problem-tags")
		div(class="form-section" id="details")
			text(class="form-field" id="hacker-name")
			text(class="form-field" id="project-name")
			text(class="form-field" id="issue-description")
			text(class="form-field" id="phone-number")
			text(class="form-field" id="location-description")