extends layout

block content
	form(id="hacker-form" action="hackers" method="post" enctype="multipart/form-data")
		div(id="heading")
			text(id="problem-title")
			text(id="problem-tags")
		div(id="details")
			text(id="hacker-name")
			text(id="project-name")
			text(id="issue-description")
			text(id="phone-number")
			text(id="location-description")