extends layout

block content
	form(id="hacker-form" action="hackers" method="post" enctype="multipart/form-data")
		div(id="heading")
			text(id="issue-title")
			text(id="tags")
		div(id="details")
			text(id="hacker-name")
			text(id="project-name")
			text(id="issue-description")