html,body {
  font-family:"Jockey One","Lato", sans-serif;
  font-size: 20pt;
  color: white;
}

.nav-button{
	padding:5%;
	margin:5% auto;
  height: 40%;
	background-color:#67cbec;
	display:block;
  text-align: center;
  border-style: solid;
}

.nav-button:not(hover){
  
  width: 50%;
  border-color: #fa6f14;
  border-width: 0px;
  transition-duration: 0.25s;

}


.nav-button:hover{
  width: 65%;
  border-color:#fa6f14;
  border-left-width: 20px;
  border-right-width: 20px;
  transition-duration: 0.25s;
}

/*
.nav-link{
  position: relative;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  z-index: 10;
  text-decoration: none;
}
*/

a {
  color: black;
  display: block;
  text-decoration: none;
}