html,body {
  font-family:"Jockey One","Lato", sans-serif;
  font-size: 15pt;
  color: black;
  background-color: #C9EFFC;
  //max-width: 900px;
  margin: auto;
  background-image: url(/images/tIQit.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-button{
	padding:5%;
	margin:5% auto;
  height: 40%;
	background-color:#67cbec;
	display:block;
  text-align: center;
  border-style: solid;
  color:white;
}

.nav-button:not(hover){
  
  width: 50%;
  border-color: #fa6f14;
  border-width: 0px;
  transition-duration: 0.25s;

}

.nav-button:hover{
  width: 65%;
  border-color:#fa6f14;
  border-left-width: 20px;
  border-right-width: 20px;
  transition-duration: 0.25s;
}

a {
  font-size: 15pt;
  display: block;
  text-decoration: none;
}

#ticket-form {
    margin: 0% auto;
    display:block;
}

.ticket-field {
  display:block;
  width:60%;
  margin: 0px auto;
  margin-top: 0px;
  padding: 5px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border: 2px solid black;
}

.ticket-section {
  display: block;
  padding: 5px;
  padding-bottom: 0px;
  width: 80%;
  margin: 0px auto;
}

.ticket-section h1 {
  font-size:20pt;
  text-align: left;
  padding-left: 10%;
}

.container > h1{
  margin-left:25%;
}

.ticket-section td{
  padding: 17px;
}

#submit-ticket {
  margin:2% auto;
  font-family:"Jockey One","Lato", sans-serif;
  font-size:16pt;
}

.warning-message {
  font-size:20pt;
  text-align:left;
  padding-left: 100px;
  padding-top:2px;
  padding-bottom: 5px;
  background:red;
  margin-bottom:30px;
}

.warning-message p {
  border-left-width: 3px;
  border-color: black;
  border-left-style: solid;
  padding-left: 10px;
}

#tickets-table {
  margin: 20px auto;
  background-color:white;
  padding: 20px;
  font-family: "Lato",sans-serif;
  font-size:10pt;
  width: 900px;
}

#tickets-table td {
  border: 1px solid #67cbec;
  padding-left:18px auto;
  padding-bottom:18px auto;
  margin: 5px;
  text-align: center;
}

#tickets-table td ul {
    text-align: left;
}

.nav-button,#submit-ticket {
  color:black;
}


#open-view {
    width: 90%;
    padding:0px auto;
    padding-top: 4px;
    padding-left:4px auto;
    fill: #fa6f14;
}

#open-view text {
    font-size: 10pt;
    text-anchor: middle;
    fill: white;
}

#details-link{
  width:100%;
  padding-right:20px;
}

.ticket-field-view {
  min-width: 900px;
  min-height: 100%;
  background-color: white;

}

.ticket-field-view td {
  margin-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
}

#status-dropdown{
  margin-left: 50% auto;
  display: block;
  text-align: center;
}

#view-ticket{
    padding-bottom: 10%;
}

#submit-change{
  padding: 100px auto;
  min-width:400px;
  margin-left: 1000px auto;

}

#status-field td{
  width:100%;
  text-align: left;
}
#details-link:visited rect{
  fill: #67cbec;
}

#nav-bar{
  background-color:#67cbec;
  
}

#nav-bar a{
  text-align: center;
  padding: 10px;
}

